.info {
  position: absolute;
  text-align: left;
  padding: 30px;
  font: 1em sans-serif;
  background: rgba(241, 241, 241, 0.9);
  border: 1px;
  border-radius: 8px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 400px;
  height: 300px;
}

.close {
  float: right;
}

a {
  color: #3F007D;
}
