:host {
  background-color: #F1F1F1;
  padding: 1em;
  position: absolute;
  right: 0px;
  top: 30%;
  border-radius: 0.5em 0 0 0.5em;
}

ul {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h2 {
  padding-left: 2.3em;
}

li {
  list-style-type: none;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.color {
  border-radius: 0.2em;
  width: 1em;
  height: 1em;
  float: left;
  display: block;
  border: black 1px;
  margin-right: 2em;
}
